.Contact-Container h2{

    font-size: 24px;
    margin-bottom: 70px;

}
.Contact-Container p{
    text-align: center;
    font-size: 20px;
}
.pOne,.pTwo,.pThree{
    height: 30px;

}
.pOne{
    width: 458px;
    margin-left: 170px;
}
.pTwo{
    width: 519px;
    margin-left: 150px;
}
.pThree{
    width: 741px;
    margin-left: 62px;
}
.ContactUs{
    text-align: center;
}
.Contact-info{
    width: 800px;
    margin-top: 55px;
    margin-left: 275px;



}
.Contact-info span{
    font-weight: 600;
    margin-bottom: 15px;
    
}
.Contact-info div{
    display: inline-block;
    width: 25%;
    align-items: center;
    justify-content: center;
}
.ContactUs{
    text-align: center;
   
}
.p-wrapper{
    width: 800px;
    height: 200px;
    text-align: center;
    margin: auto;
}
.Address{
    margin-top: 60px;
}
.Address span{

    font-weight: 600;
    margin-bottom: 50px;
    font-size: 22px;
    
}
.FAQ{
    margin-top: 50px;
    
}

@media only screen and (max-width: 600px){

    .Contact-Container{
    font-size: 14px;
    text-align: center;
    }

    .Contact-info{
        display: flex;
        flex-direction: column;
    }
    .article1 span{
        font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #464343;
    }

}


